<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97899708780-ubt43mjsfvra9ht03i5fq4v22pdj8tvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97899708780-ubt43mjsfvra9ht03i5fq4v22pdj8tvm</string>
	<key>API_KEY</key>
	<string>AIzaSyBJtm6z50CQgjWuQRL-c3EFYZXev7oRVxk</string>
	<key>GCM_SENDER_ID</key>
	<string>97899708780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>francobellu.com.TestApp</string>
	<key>PROJECT_ID</key>
	<string>testapp-af11e</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-af11e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97899708780:ios:4065fe9acc43d8aeddf349</string>
	<key>DATABASE_URL</key>
	<string>https://testapp-af11e.firebaseio.com</string>
</dict>
</plist>